@font-face {
    font-family: ColabThi;
    src: url("ColabThi.otf") format("opentype");
}

body {
	background: #2980b9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(left, #2980b9, #2c3e50);
    background: -o-linear-gradient(left, #2980b9, #2c3e50);
    background: linear-gradient(to right, #2980b9, #2c3e50);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: white;
	text-align: center;
	font-size: 1em;
	font-weight: 100;
	font-family: 'ColabThi';
}

.container{
	position: absolute;
	top: 40%;
	margin-top: -150px;
	left: 50%;
	margin-left: -25%;
	width: 50%;
	height: 400px;
	font-weight: 100;
}

#law {
	width: 30%;
	float: left;
	font-style: italic;
}

#content {
	width: 60%;
	margin-left: 10%;
	float: left;
}

#law-id {
	text-align: right;
	padding-top: 7%;
}

#law-desc {
	font-size: 1em;
	line-height: 2em;
	font-weight: 200;
	text-align: justify;
}

#law-title {
	font-size: 40px;
	text-align: left;
}

.title {
	font-size: 40px;
}

#id {
	font-size: 125px;
	font-weight: 300;
}
#author{
	color:#2980b9;
	background-color: #ffffff;
	padding: 5px;
	position: absolute;
	margin-top: 450px;
	font-size: 25px;
	margin-left: 500px;
}